.about {
    background: url('../images/dist/about-bg-left-top.svg') left 25px top no-repeat,
                url('../images/dist/about-bg-left-bottom.svg') left bottom 65px no-repeat,
                url('../images/dist/about-bg-right-top.svg') top right 115px no-repeat,
                url('../images/dist/about-bg-right.svg') center / cover no-repeat,
                url('../images/dist/about-bg-right-bottom.svg') bottom right 40px no-repeat;
    background-color: #E5E5E5;

    &__content {
        max-width: 590px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__text {
        color: $grey;
        margin-bottom: 45px;
        line-height: 158.3%;
    }

    &__boxes {
        display: flex;
        justify-content: flex-end;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: #F9F9F9;
        border: 1px solid #FFFFFF;
        min-height: 117px;
        box-shadow: 0px 25px 50px rgba(54, 48, 116, 0.1);
        text-align: center;
        margin-left: 14px;
        &:first-child {
            margin-left: 0;
        }
    }

    &__box-num {
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        background: linear-gradient(272.84deg, #380085 3.58%, #733DFF 100%, #733DFF 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 15px;
    }

    &__box-caption {
        font-size: 14px;
        line-height: 17px;
        color: $grey;
    }
}

