.article {
    background: url('../images/dist/article-bg-left.svg') bottom 53px left no-repeat;
    &__container {
        background: url('../images/dist/article-bg-right.svg') top 36px right no-repeat;
    }
    
    &__head {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 210px;
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-top: 20px;
    }

    &__wrapper {
        width: 100%;
        margin-top: 90px;
    }

    &__box {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__content {
        height: 39vh;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
        line-height: 129.4%;
        color: $grey;
    }

    h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 119.9%;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 119.9%;
        margin-bottom: 20px;
    }

    h4,h5,h6 {
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__arrows {
        display: flex;

        svg path {
            opacity: .3;
        }

        svg, path {
            transition: .3s ease-in-out;
        }
    }
    .arrow-next {
        margin-left: 10px;
        svg {
            transform: rotate(180deg);
        }
    }
}
