.blog-page {
    .slider-nav {
        display: none;
    }
    .articles {
        background: url('../images/dist/articles-bg-left.svg') left top 245px no-repeat,
                url('../images/dist/articles-bg-right-top.svg') right top 147px no-repeat,
                url('../images/dist/articles-bg-right-bottom.svg') right bottom 40px no-repeat;
    }
    .articles__item-wrapper {
        margin-bottom: 50px;
    }
    .pagination {
        padding-top: 0;
    }
}
.articles {
    background: url('../images/dist/articles-bg-left.svg') left top 265px no-repeat,
                url('../images/dist/articles-bg-right-top.svg') right top 47px no-repeat,
                url('../images/dist/articles-bg-right-bottom.svg') right bottom 40px no-repeat;

    &__title {
        margin-bottom: 60px;
    }

    &__slider {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    &__item-wrapper {
        display: block;
        margin: 40px 15px;
        background: #F9F9F9;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 15px 40px rgba(54, 48, 116, 0.2);
    }

    &__item-inner {
        display: flex;
        flex-direction: column;
        padding: 35px 13px;
        padding-bottom: 42px;
        min-height: 210px;
        box-sizing: border-box;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }
    
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        padding-bottom: 10px;
    }

    &__foot {
        display: flex;
        margin-top: auto;
    }

    &__img {
        img {
            display: flex;
            width: 100%;
            max-height: 162px;
        }
    }
    
    &__foot-item {
        display: flex;
        align-items: center;
        margin-left: 22px;
        font-size: 14px;
        line-height: 1;

        &:first-child {
            margin-left: 0;
        }
    }

    &__icon {
        flex-shrink: 0;
        margin-right: 7px;
    }
}

