body:not(.main-page) {
    &:not(.article-page) {
        .header {
            padding-top: 57px;
        }
    }
    .header {
        &__logo,
        &__phone {
            display: none;
        }
        &__right {
            .header__languages {
                display: none;
            }
        }
        &__inner {
            justify-content: flex-end;
        }
    }
    
}

.article-page {
    .header__menu-btn {
        span {
            background-color: #fff;
        }
    }
}

.header {
    position: absolute;
    left: 0;
    right: auto;
    width: 100%;
    top: 0;
    padding-top: 33px;
    padding-bottom: 10px;
    z-index: 20;
    box-sizing: border-box;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
        img {
            width: 130px;
        }
    }

    &__phone {
        display: inline-block;
        margin-left: 40px;
        margin-right: 75px;
        font-weight: 600;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__menu-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        box-sizing: border-box;


        span {
            display: block;
            height: 4px;
            width: 32px;
            margin-bottom: 6px;
            background-color: $black;

            &:nth-child(2) {
                margin-left: auto;
                width: 22px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__languages {
        a {
            position: relative;
            display: inline-block;
            margin-right: 0;
            text-transform: uppercase;
            line-height: 1;

            &::after {
                display: inline-block;
                content: '|';
                margin-left: 5px;
                margin-bottom: 3px;
            }

            &.active {
                font-weight: 700;
            }

            &:last-child {
                margin-right: 0;
                &::after {
                    content: none;
                }
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: url('../images/dist/menu-bg.svg') center no-repeat;
    background-color: #F9F9F9;
    right: 0;
    top: 0;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 40px 60px rgba(54, 48, 116, 0.3);
    transform: translateX(120%);
    transition: .4s ease-in-out;
    height: 100vh;
    padding: 33px;
    z-index: 24;
    max-width: 470px;
    width: 100%;

    &.active {
        transform: translateX(0);
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__close {
        position: relative;
        background-color: transparent;
        border: none;
        height: 22px;
        width: 22px;
        cursor: pointer;
        span {
            position: absolute;
            display: block;
            width: 21px;
            height: 2px;
            background-color: $black;
            left: 0;
            top: 0;
            transform: rotate(45deg);
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }

    &__navigation {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 18px;
        line-height: 22px;
        li {
            margin-bottom: 17px;
        }

        a {
            transition: .3s ease;
        }
    }

    &__foot {
        margin-top: 20px;
        a {
            font-weight: 600;
        }
    }
    &__foot-languages {
        display: none;
        margin-bottom: 60px;
    }

    &__foot-title {
        margin-bottom: 5px;
        font-weight: 600;
        background: linear-gradient(272.84deg, #380085 3.58%, #733DFF 100%, #733DFF 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
