.hero {
    background: url('../images/dist/hero-bg.svg') center / cover no-repeat;
    padding-top: 130px;

    &__content {
        margin-bottom: 95px;
        max-width: 430px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        color: $grey;
        margin-bottom: 40px;
        font-weight: 100;
    }

}
