.projects {
    background: url('../images/dist/projects-bg-left.svg') left 13px top / 56px 100%  no-repeat,
        url('../images/dist/projects-bg-top-right.svg') right  top 40px no-repeat,
        url('../images/dist/projects-bg-bottom-right.svg') right 30px bottom no-repeat;

    &__title {
        margin-bottom: 30px;
    }

    &__link {
        margin-bottom: 45px;
    }

    &__list {
        display: flex;
        margin-left: -8px;
        margin-right: -8px;
    }

    &__item {
        width: calc(25% - 16px);
        margin-left: 8px;
        margin-right: 8px;
    }

    &__img {
        display: block;
        position: relative;
        margin-bottom: 15px;
        background: #F9F9F9;
        box-sizing: border-box;
        box-shadow: 0px 18px 60px rgba(54, 48, 116, 0.4);
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #1D1F27;
            opacity: 0;
            transition: .3s ease;
        }
        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .3s ease;
            font-weight: bold;
            font-size: 25px;
            z-index: 3;
            line-height: 30px;
            color: #fff;
        }
    }

    &__name {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }

    &__type {
        color: $grey;
    }
}
