.projects-page {
    .projects {
        align-items: flex-start;
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
        &__title {
            margin-bottom: 14px;
        }
    }
}
.projects {
    background: url('../images/dist/projects-bg-left.svg') left 13px top / 56px 100%  no-repeat,
        url('../images/dist/projects-bg-top-right.svg') right  top 40px no-repeat,
        url('../images/dist/projects-bg-bottom-right.svg') right 30px bottom no-repeat;
    padding-top: 50px;
    align-items: flex-start;

    &__title {
        margin-bottom: 30px;
        margin-left: -2px;
    }

    &__link {
        margin-bottom: 45px;
    }

    &__list {
        display: flex;
        margin-left: -8px;
        margin-right: -8px;
    }

    &__item {
        width: calc(25% - 16px);
        margin-left: 8px;
        margin-right: 8px;
    }

    &__slider {
        overflow: visible;
    }

    .swiper-slide {
        opacity: 0;
    }

    .swiper-slide-visible {
        opacity: 1;
    }

    &__img {
        display: block;
        // position: relative;
        margin-bottom: 15px;
        background: #F9F9F9;
        box-sizing: border-box;
        box-shadow: 0px 18px 60px rgba(54, 48, 116, 0.4);

        &::after {
            position: absolute;
            content: "";
            left: -10vw;
            top: -50vh;
            z-index: 18;
            width: 120vw;
            height: 200vh;
            background: #1D1F27;
            opacity: 0.7;
            border-radius: 50%;
            transform: scale(0);
            transition: all .5s ease-in-out;
        }
        img {
            width: 100%;
        }
        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .3s ease;
            font-weight: bold;
            font-size: 25px;
            z-index: 20;
            line-height: 30px;
            color: #fff;
        }
    }

    &__name {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }

    &__type {
        color: $grey;
        font-size: 16px;
        line-height: 20px;
        font-weight: 100;
    }
}

.projects-page {
    overflow: hidden;
    .pagination {
        padding-top: 33px;
    }
    .projects {
        background: 
                    url('../images/dist/projects-bg-bottom-right.svg') left 22px bottom no-repeat,
                    url('../images/dist/projects-page-bg.svg') right top 28px no-repeat,
                    url('../images/dist/projects-bg-bottom-right.svg') right 30px bottom no-repeat;
    }
    .projects__link {
        margin-bottom: 35px;
    }
    .projects__img {
        box-shadow: 0px 18px 60px rgba(54, 48, 116, 0.2);
    }
}