.services {
    background: url('../images/dist/services-bg-right-top.svg') top 20px right no-repeat,
    url('../images/dist/services-bg-right-bottom.svg') bottom right no-repeat,
    url('../images/dist/services-bg-left.svg') bottom left 17px no-repeat;
    

    &__title {
        font-size: 35px;
        line-height: 43px;
    }

    &__slider {
        padding-top: 50px;
        overflow: visible;
    }

    &__item-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: 0px 8px 20px rgba(54, 48, 116, 0.15);
        background: #F9F9F9;
        transition: .3s ease;
    }

    &__item-inner,
    &__foot {
        opacity: 0.5;
    }

    &__item {
        height: 470px;
        position: relative;
        transition: opacity 500ms;
        opacity: 0;

        &.swiper-slide-visible {
            opacity: 1;
        }

        &.swiper-slide-active {
            position: relative;
            z-index: 3;
            .services__item-wrapper {
                transform: scale(1.2);

                .services {
                    &__item-inner,
                    &__foot {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__item-inner {
        display: flex;
        flex-direction: column;
        padding: 25px;
        height: 100%;
        padding-bottom: 0;
        border: 1px solid #fff;
        border-bottom: none;
    }
    
    &__head {
        display: flex;
        align-items: center;
        padding-bottom: 18px;
        border-bottom: 2px solid #FFFFFF;
    }

    &__foot {
        margin-top: auto;
    }
    
    &__name {
        font-weight: bold;
        font-size: 20px;
        line-height: 105%;
        margin-left: 15px;
    }

    &__content {
        margin-bottom: auto;
        margin-top: auto;

        p {
            font-size: 13px;
            line-height: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__price {
        font-weight: bold;
        padding: 25px;
    }

    &__btn {
        display: block;
        min-width: auto;
        background: linear-gradient(272.84deg, #380085 3.58%, #733DFF 100%, #733DFF 100%);
        box-shadow: 0px 3px 8px rgba(111, 57, 248, 0.35), 10px 10px 15px rgba(255, 255, 255, 0.38);
    }
    .slider-nav {
        margin-top: 70px;
        justify-content: center;
    }
}
