
// USER VARIABLES SECTION
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$black: #333333;
$grey: #828282;
// FONTS


// GENERAL DOCUMENT STYLES

input, textarea {
	outline: transparent;
}

html {
	box-sizing: border-box;
    height: 100%;
}

html, body { 
    scroll-behavior: smooth;
}

body {
	position: relative;
	min-width: 320px;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	line-height: 125%;
	color: $black;
    scroll-behavior: smooth;
}

*, *::before, *::after {
	box-sizing: border-box;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 500px;
    overflow: hidden;
}

.purple {
	background: none;
	color: #5C26D0;

	.e-word span {
		background: #5C26D0;
	}
}

.n-word {
	position: relative;

	&::before {
		position: absolute;
		content: "";
		left: -7px;
		top: 50%;
		transform: translateY(-50%);
		height: 5px;
		width: 37px;
		background-color: $black;
	}
}

.e-word {
	display: inline-block;
	margin: 0 -8px;

	span {
		display: block;
		height: 5px;
		width: 31px;
		background-color: $black;
		margin-bottom: 8px;

		&:nth-child(2) {
			width: 21px;
			height: 5px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-wrapper {
	height: 100vh;
}

.title {
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
}


.btn {
    display: inline-block;
    border: none;
    // cursor: pointer;
    line-height: 1;
    padding: 20px;
	min-width: 240px;
    font-weight: bold;
	font-size: 14px;
	line-height: 17px;
    background: linear-gradient(272.84deg, #380085 3.58%, #733DFF 100%, #733DFF 100%);
	box-shadow: 5px 5px 15px rgba(111, 57, 248, 0.38), 10px 10px 15px rgba(255, 255, 255, 0.38);
    color: #fff;
	transition: all .3s ease-in;
    text-align: center;

	&:focus, &:visited {
		// box-shadow:-23px -23px 24px 7px rgba(#733DFF,.15);
	}
	&:active {
		// box-shadow:13px 17px 24px 7px rgba(#733DFF,.15);
		transform: scale(1.1);
	}

	&.clicked {
		box-shadow:-23px -23px 24px 7px rgba(#733DFF,.15) !important;
	}
}

.circle {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: #F8F8F8;
	border-radius: 50%;
	box-shadow: -10px -10px 15px #FFFFFF, 10px 10px 10px rgba(0, 0, 0, 0.08), inset 10px 10px 10px rgba(0, 0, 0, 0.05), inset -10px -10px 20px #FFFFFF;
	&__border {
		position: absolute;
		left: -3px;
		top: -3px;
		
		circle {
			stroke-dashoffset: calc(2 * 3.14 * 24);
			stroke-dasharray: calc(2 * 3.14 * 24);
			transition: .4s ease-in-out;
		}
	}
}

ul,  li {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

// Input number fix

input {
	outline: none;
	border: none;
	border-radius: 0;
}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none
}

button {
	outline: transparent;
	cursor: pointer;
}

textarea {
	resize: none;
}

.container {
	max-width: 1270px;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

html, body {
	overflow-x: hidden;
}


.overflow-hidden {
	overflow: hidden;

	body {
		overflow: hidden
	} 
}

.socials {
	display: flex;
	align-items: center;

	a {
		position: relative;
	}

	li + li {
		margin-left: 13px;
	}

	li {
		.circle__border circle {
			opacity: 0;
		}
	}
}

.display-flex {
	display: flex !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
	opacity: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: linear-gradient(327.56deg, #5D24D6 19.23%, #7E74ED 81.76%);
	box-shadow: 0px 2px 3px rgba(43, 72, 180, 0.4), inset 1px 1px 3px rgba(255, 255, 255, 0.4);
	border-radius: 0;
}

.mCSB_scrollTools .mCSB_draggerContainer {
	width: 8px;
	background: #DEDDE3;
	box-shadow: -3px -3px 5px #FFFFFF, 3px 3px 5px rgba(0, 0, 0, 0.05), inset 3px 3px 5px rgba(0, 0, 0, 0.05), inset -3px -3px 5px #FFFFFF;
}

.section {
	&__link {
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-weight: 100;
        img {
			flex-shrink: 0;
            transform: rotate(180deg);
			margin-left: 8px;
			margin-top: 3px;
			width: 20px;
			transition: .3s ease-in-out;
        }
    }
}

.arrow-prev,
.arrow-next {
	filter: drop-shadow(0px 1px 5px rgba(115, 61, 255, 0.6));
	
	
	&.active {
		path {
			opacity: 1;
			fill: url('#paint1_linear');
		}
	}
	
}

.swiper-slide {
	transition: .5s;
}

.slider-prev,
.slider-next {
	width: 47px;
	transform: rotate(180deg);
	cursor: pointer;
	outline: none;

	svg {
		width: 47px;
		height: auto;
	}

	svg, path {
		transition: .3s ease;
	}

	path {
		opacity: 1;
		fill: url('#paint1_linear');
	}
	&:focus, &:active {
		path {
			opacity: 1;
			fill: url('#paint1_linear');
		}
	}
	&.swiper-button-disabled {
		path {
			fill: #11141C;
			opacity: .1;
		}
	}
}

.slider-nav {
	display: flex;
	align-items: center;
	margin-left: 0;
	margin-top: 30px;
	position: relative;
	z-index: 4;
}

.slider-next {
	margin-left: 9px;
}

.fancybox-slide--html .fancybox-close-small {
	padding: 0;
	opacity: 1;
	color: $black;
	top: 22px;
	right: 31px;
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 1.35513L21.6449 0L11.5 10.1449L1.35513 0L0 1.35513L10.1449 11.5L0 21.6449L1.35513 23L11.5 12.8551L21.6449 23L23 21.6449L12.8551 11.5L23 1.35513Z' fill='%23333333'/%3E%3C/svg%3E%0A");
	width: 23px;
	height: 23px;
	svg {
		display: none;
	}
	
}

.modal {
	padding: 50px;
	background: #F9F9F9;
	border: 1px solid #FFFFFF;
	max-height: 470px;
	height: 100%;
	box-shadow: 0px 15px 40px rgba(54, 48, 116, 0.2);
	text-align: center;
	&__content {
		position: relative;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		transform: translate(-50%,-50%);
	}
	&__img {
		margin-bottom: 15px;
		text-align: center;
		img {
			margin: 0 auto;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 30px;
		line-height: 106.9%;
		margin-bottom: 17px;
	}

	&__text {
		color: $grey;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
	}
}

.fancybox-is-open .fancybox-bg {
	background-color: #000;
	opacity: .55;
}

.pagination {
	position: relative;
	z-index: 4;
	display: flex;
	align-items: center;
	padding-top: 27px;

	
	li {
		margin-left: 5px;
		margin-right: 5px;
		transition: .3s ease;
		&:first-child {
			margin-left: 0;
		}
	}

	.pagination__arrow--prev {
		margin-right: 10px;
	}

	.pagination__arrow--next {
		margin-left: 10px;
		svg {
			transform: rotate(180deg);
		}
	}

	.current {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 2px;
	}
	&__arrow {
		margin-bottom: 5px;
	}
}

.breadcrumbs {
	display: flex;
	margin-left: -8px;
	padding-top: 24px;
	margin-right: -8px;
	li {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 15px;
		margin-left: 8px;
		margin-right: 8px;

		img {
			flex-shrink: 0;
			margin-left: 8px;
		}
		&:last-child {
			img {
				transform: rotate(90deg);
				margin-left: -5px;
			}
		}
	}
}

html, * {
	cursor: none !important;
}

.current {
	color: $black;
}

.nice-select .option.disabled {
	display: none;
}
.contacts {
	.nice-select .option {
		line-height: 1;
		margin-bottom: 9px;
		min-height: auto;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cursor{
	position: fixed;
	width: 10px;
	height: 10px;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	background-color: #c6c6c6;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: .1s;
	z-index: 999955;
}

.cursor.hovered{
	transform: translate(-50%, -50%) scale(1);
	background-color: transparent;
	width: 50px;
	height: 50px;
}

.cursor.active {
	width: 40px;
	height: 40px;
}
