
// USER VARIABLES SECTION
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$black: #333333;
$grey: #828282;
// FONTS


// GENERAL DOCUMENT STYLES

input, textarea {
	outline: transparent;
}

html {
	box-sizing: border-box;
    height: 100%;
}

html, body { 
	// overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
	min-width: 320px;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	line-height: 125%;
	color: $black;
    scroll-behavior: smooth;
}

*, *::before, *::after {
	box-sizing: border-box;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 500px;
    overflow: hidden;
}

.purple {
	background: none;
	color: #5C26D0;

	.e-word span {
		background: #5C26D0;
	}
}

.n-word {
	position: relative;

	&::before {
		position: absolute;
		content: "";
		left: -7px;
		top: 50%;
		transform: translateY(-50%);
		height: 5px;
		width: 37px;
		background-color: $black;
	}
}

.e-word {
	display: inline-block;
	margin: 0 -8px;

	span {
		display: block;
		height: 5px;
		width: 31px;
		background-color: $black;
		margin-bottom: 8px;

		&:nth-child(2) {
			width: 21px;
			height: 5px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-wrapper {
	height: 100vh;
}

.title {
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
}


.btn {
    display: inline-block;
    border: none;
    // cursor: pointer;
    line-height: 1;
    padding: 20px;
	min-width: 240px;
    font-weight: bold;
	font-size: 14px;
	line-height: 17px;
    background: linear-gradient(272.84deg, #380085 3.58%, #733DFF 100%, #733DFF 100%);
	box-shadow: 5px 5px 15px rgba(111, 57, 248, 0.38), 10px 10px 15px rgba(255, 255, 255, 0.38);
    color: #fff;
	transition: .2s ease-in;
    text-align: center;

	&:focus, &:visited {
		box-shadow:-43px -23px 24px 7px rgba(255,255,255,255.35);
	}
	&:active {
		box-shadow:13px 17px 24px 7px rgba(255,255,255,255.35);
	}
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: #F8F8F8;
	border-radius: 50%;
	box-shadow: -10px -10px 15px #FFFFFF, 10px 10px 10px rgba(0, 0, 0, 0.08), inset 10px 10px 10px rgba(0, 0, 0, 0.05), inset -10px -10px 20px #FFFFFF;
}

ul,  li {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

// Input number fix

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none
}

button {
	outline: transparent;
	cursor: pointer;
}

textarea {
	resize: none;
}

.container {
	max-width: 1270px;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}


.overflow-hidden {
	overflow: hidden;

	body {
		overflow: hidden
	} 
}

.socials {
	display: flex;
	align-items: center;

	li + li {
		margin-left: 13px;
	}
}

.section {
	&__link {
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-weight: 500;
        img {
			flex-shrink: 0;
            transform: rotate(180deg);
			margin-left: 8px;
			width: 20px;
        }
    }
}

.arrow-prev,
.arrow-next {
	&:focus, &:active {
		path {
			opacity: 1;
			fill: url('#paint1_linear');
		}
	}
}

.slider-prev,
.slider-next {
	width: 42px;
	transform: rotate(180deg);
	cursor: pointer;
	outline: none;

	path {
		opacity: 0.1;
	}

	&:focus, &:active {
		path {
			opacity: 1;
			fill: url('#paint1_linear');
		}
	}

	svg, path {
		transition: .3s ease;
	}
}

.slider-nav {
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-top: -10px;
	position: relative;
	z-index: 4;
}

.slider-next {
	margin-left: 9px;
}

.fancybox-slide--html .fancybox-close-small {
	padding: 0;
	opacity: 1;
	color: $black;
	top: 10px;
	right: 10px;
	path {
		fill: $black;
	}
}

.modal {
	padding: 50px;
	background: #F9F9F9;
	border: 1px solid #FFFFFF;
	max-height: 500px;
	height: 100%;
	box-shadow: 0px 15px 40px rgba(54, 48, 116, 0.2);
	text-align: center;
	&__content {
		position: relative;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		transform: translate(-50%,-50%);
	}
	&__img {
		margin-bottom: 10px;
		text-align: center;
		img {
			margin: 0 auto;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 30px;
		line-height: 106.9%;
		margin-bottom: 17px;
	}

	&__text {
		color: $grey;
	}
}

.pagination {
	position: relative;
	z-index: 4;
	display: flex;
	align-items: center;
	padding-top: 27px;

	&__arrow svg {
		width: 16px;
		height: 5px;
	}
	li {
		margin-left: 5px;
		margin-right: 5px;
		transition: .3s ease;
		&:first-child {
			margin-left: 0;
		}
	}

	.pagination__arrow--prev {
		margin-right: 10px;
	}

	.pagination__arrow--next {
		margin-left: 10px;
		svg {
			transform: rotate(180deg);
		}
	}

	.active {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 2px;
	}
}

.breadcrumbs {
	display: flex;
	margin-left: -8px;
	padding-top: 24px;
	margin-right: -8px;
	li {
		font-size: 12px;
		line-height: 15px;
		margin-left: 8px;
		margin-right: 8px;

		img {
			margin-left: 8px;
		}
		&:last-child {
			img {
				transform: rotate(90deg);
				margin-left: -5px;
			}
		}
	}
}