@media (min-width: 1025px) {
   // Hover section
   .menu__navigation a:hover {
      font-weight: bold;
   }
   .option:not(.disabled):hover {
      font-weight: 600;
      background-color: transparent;
      color: inherit !important;
   }
   .pagination {
      li:hover {
         color: #6D37F2;
      }
   }
   .form {
      &__radio label {
         &:hover .form__radio-item {
            background: #F9F9F9;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 15px 40px rgba(54, 48, 116, 0.2);
            color: #6D37F2;

            svg path {
               fill: #6D37F2;
            }
         }
      }
   }
   .projects {
      &__img:hover {
         
         &::after {
            opacity: 0.7;
         }

         span {
            opacity: 1;
         }
      }
   }
   .arrow-prev,
   .arrow-next {
      &:hover {
         svg {
            path {
               fill: url('#paint1_linear');
               opacity: 1;
            }
         }
      }
   }
   // Hover section
}

@media (max-width: 1200px) {
   .about__boxes {
      margin-right: 0;
   }
   .contacts {
      &__form {
         margin-left: 20px;
         max-width: 400px;
      }
   }
   .steps {
      background: url('../images/dist/steps-bg-right-top.svg') top 30px right no-repeat,
                  url('../images/dist/steps-bg-left-top.svg') top left no-repeat;
      &__list {
         margin-right: auto;
         justify-content: flex-start;
      }
   }
   .project {
      &__left {
         margin-right: 30px;
      }
      &__images li {
         height: 100%;
         width: auto;
         max-width: 200px;
      }
   }
}


@media (max-width: 1024px) {
   .steps__slider {
      overflow: visible;
      .swiper-slide {
         opacity: 0;
      }
      .swiper-slide-visible {
         opacity: 1;
      }
   }
   
   
   .contacts-info-wrapper {
      background: url('../images/dist/info-bg-tablet-top.svg') top 125px right 0 no-repeat;
   }
   .contacts-form-wrapper {
      background: url('../images/dist/form-bg-tablet-bottom.svg') bottom right 55px no-repeat;
   }
   .footer__copy {
      margin-right: auto;
   }
   html, * {
      cursor: auto !important;
   }
   .cursor {
      display: none;
   }
   .pagination__arrow {
      margin-bottom: 3px;
   }
   .blog-page {
      .articles {
         background: none;
      }
      .pagination {
         margin-top: -20px;
      }
   }
   .project {
      background: url('../images/dist/project-bg-tablet.svg') right top 253px no-repeat,
                  url('../images/dist/project-bg-tablet.svg') right bottom 43px no-repeat;
      height: auto;
      &__slider {
         padding-bottom: 35px;
      }
      &__content {
         flex-direction: column;
      }
      &__images {
         li {
            margin: 0;
            margin-left: 24px;
            &:nth-child(1) {
               margin: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
               margin: 0;
               margin-left: 24px;
            }
         }
      }
   }
   .projects-page {
      .projects {
         background: url('../images/dist/portfolio-bg-tablet-right.svg') right bottom 73px no-repeat,
         url('../images/dist/portfolio-bg-tablet-left.svg') left top 203px no-repeat;
      }
   }
   .contacts {
      display: none;
      padding-top: 25px;

      &__content {
         flex-direction: column;
         margin-bottom: 0;
      }
      &__content-icon {
         img {
            max-width: 19px;
            width: 100%;
         }
      }
      &__text {
         line-height: 164%;
      }
      &__content-item {
         margin-left: 0;
         margin-bottom: 32px;
         &:last-child {
            margin-bottom: 0;
         }
      }
      &__right {
         max-width: 400px;
         margin-left: 20px;
      }
      &__title {
         margin-bottom: 100px;
      }
      &__info {
         margin-top: auto;
         display: flex;
         flex-direction: column;
         margin-bottom: 60px;
      }
      &__form {
         max-width: 470px;
         margin-left: 0;
      }
      &__inner {
         flex-direction: column;
         align-items: flex-start;
      }
   }
   .contacts-form-wrapper, .contacts-info-wrapper {
      display: flex;
      .container {
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
  
   .articles {
      background: url('../images/dist/articles-bg-tablet-top-right.svg') top 30px right no-repeat,
                  url('../images/dist/articles-bg-tablet-top-left.svg') top 100px left no-repeat,
                  url('../images/dist/articles-bg-tablet-bottom-right.svg') bottom 76px right no-repeat;
      &__slider {
         margin-right: -50px;
      }
      &__link {
         margin-bottom: 33px;
      }
   }
   .projects {
      background: url('../images/dist/projects-bg-tablet.svg') left top 105px no-repeat;
      &__link {
         margin-bottom: 35px;
      }
      &__slider {
         margin-right: -50px;
      }
      &__list {
         margin: 0;
      }
      &__title {
         margin-bottom: 40px;
      }
      &__img {
         box-shadow: 0px 18px 60px rgba(54, 48, 116, 0.2);
      }
      &__item {
         width: 100%;
         margin: 0;
         padding: 0 18px;
      }
   }
   .about {
      background: url('../images/dist/about-bg-tablet.svg') top 22px right no-repeat;
      &__text {
         font-size: 14px;
         line-height: 132.5%;
         margin-bottom: 30px;
         margin-right: 50px;
      }
      &__inner {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__boxes {
         flex-direction: column;
         justify-content: flex-start;
         flex-shrink: 0;
      }
      &__box {
         margin-left: 0;
         margin-bottom: 8px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   .services {
      background: url('../images/dist/services-bg-tablet-top.svg') top 35px right no-repeat,
                  url('../images/dist/services-bg-tablet-bottom.svg') bottom 43px left no-repeat;
      &__slider {
         padding-top: 70px;
      }
      &__item {
         height: 420px;
         &.swiper-slide-active {
            .services__item-wrapper {
               margin-left: -50px;
               margin-right: -50px;
            }
         }
         

      }
      
      &__item-wrapper {
         margin: 0;
      }
      
      &__item-inner {
         padding: 20px 12px;
      }
      &__content {
         margin-left: 10px;
         p {
            font-size: 12px;
            line-height: 15px;
         }
      }
      &__price {
         font-size: 14px;
         line-height: 17px;
         padding: 20px;
         margin-left: 6px;
         padding-top: 0;
         padding-right: 0;
      }
      &__name {
         font-size: 14px;
         line-height: 111.4%;
      }
   }
   .header {
      padding-top: 27px;
   }
   .menu {
      padding: 25px 32px;
   }
   .steps {
      background: url('../images/dist/steps-bg-tablet-right.svg') right top 73px no-repeat,
                  url('../images/dist/steps-bg-tablet-left.svg') left bottom 80px no-repeat;
      &__slider {
         height: 350px;
         margin-right: -50px;
      }
      
      &__list {
         max-width: 100%;
         margin: 0;
         flex-wrap: nowrap;
      }
      .steps__item {
         width: 100%;
         margin: 12px;
      }
   }
}

@media (max-width: 768px) {
   .fancybox-slide--html .fancybox-close-small {
      right: 20px;
      top: 20px;
   }
   .hero {
      background: url('../images/dist/hero-bg-tablet.svg') bottom right no-repeat,
                  url('../images/dist/hero-bg-tablet-top-right.svg') top right no-repeat,
                  url('../images/dist/hero-bg-tablet-bottom-right.svg') bottom 55px right no-repeat;
   }
   .header {
      &__right  {
         a,
         .header__languages {
            display: none;
         }
      }
   }
  
   
}

@media (max-width: 700px) {
   .services {
      &__item-inner,
      &__foot {
         opacity: 1;
      }
   }
   .services__item {
      height: 360px;
   }
   .services .slider-nav {
      margin-left: 0;
   }
   .services__item-inner {
      padding: 15px 12px;
   }
   .services .slider-nav {
      margin-top: 15px;
   }
   .services__name {
      font-size: 13px;
      line-height: 98.9%;
   }
   .services__price {
      font-size: 12px;
      line-height: 15px;
      margin-left: 0;
      padding: 0;
      padding-left: 20px;
      padding-bottom: 9px;
   }
   .services__slider {
      padding-bottom: 0;
      padding-top: 23px;
   }
   .services__head {
      padding-left: 10px;
   }
   .services__item {
      opacity: 1;
      box-shadow: 0px 0px 15px rgba(54, 48, 116, 0.15);
      &.swiper-slide-active .services__item-wrapper {
         transform: scale(1);
      }
      &.swiper-slide-active {
         .services__item-wrapper {
            margin-left: 0;
            margin-right: 0;
         }
      }
   }
   .services__btn {
      box-shadow: none;
      font-size: 12px;
      line-height: 15px;
   }
   .services {
      .container {
         padding-right: 0;
      }
   }
   
}

@media (max-width: 600px) {
   .contacts-form-wrapper {
      background: none;
   }
   .title {
      font-size: 27px;
      line-height: 33px;
   }
   .error {
      &__title {
         font-size: 20px;
         line-height: 25px;
      }
      &__img img {
         max-width: 250px;
      }
   }
   .slider-nav {
      margin-left: 15px;
   }
   .articles .slider-nav {
      bottom: 12px;
   }
   .article {
      background: url('../images/dist/article-bg-mob-right.svg') right top 170px no-repeat,
                  url('../images/dist/article-bg-mob-left.svg') left bottom 60px no-repeat;
      &__head {
         margin-bottom: 20px;
         background: none !important;
         min-height: auto;
      }

      &__content {
         max-height: 55;
      }

      &__box {
         margin-bottom: 17px;
      }

      h2 {
         font-size: 12px;
         line-height: 119.9%;
         margin-bottom: 10px;
      }

      h3 {
         font-size: 10px;
         line-height: 119.9%;
         margin-bottom: 8px;
      }

      h4,h5,h6 {
         margin-bottom: 8px;
      }

      p {
         font-size: 9px;
         line-height: 112%;
      }
      
      &__title {
         font-weight: bold;
         font-size: 12px;
         line-height: 14px;
         color: $black;
         margin-top: 23px;
      }
      &__container {
         background: none;
      }
      &__content {
         margin-top: 20px;
         height: 45vh;
      }
      &__wrapper {
         margin-top: 50px;
      }
      &__arrows {
         justify-content: center;
         svg {
            width: 24px;
            height: auto;
         }
      }
      
   }
   .blog-page {
         
      .articles {
         background: url('../images/dist/blog-bg-mob-right-top.svg') top 85px right no-repeat,
                     url('../images/dist/blog-bg-mob-right-bottom.svg') bottom 95px right no-repeat;
         height: auto;
         overflow: auto;
         padding-bottom: 100px;
         &__title {
            display: none;
         }
         &__item {
            margin-bottom: 6px;
            box-shadow: 0px 0px 10px rgba(54, 48, 116, 0.2);
            min-height: 65px;
         }
         &__slider {
            padding: 0;
            margin: 0;
         }
         .pagination {
            margin-top: 0;
            padding-top: 12px;
         }
         &__link {
            margin-bottom: 12px;
         }
         &__item-wrapper {
            display: flex;
            margin: 0;
            justify-content: space-between;
         }
         &__text {
            font-weight: 500;
            font-size: 9px;
            line-height: 11px;
         }
         &__icon {
            display: none;
         }
         &__foot-item {
            font-size: 9px;
            line-height: 11px;
            &:nth-child(2) {
               display: none;
            }
         }
         &__item-inner {
            padding: 15px;
            min-height: auto;
         }
         &__foot {
            margin-top: 0;
         }
         
         &__link {
            justify-content: flex-start;
         }
      }

      .articles {
         &__inner {
            margin-top: 100px;
         }
         &__img {
            width: 35%;
            max-width: 200px;
            min-width: 80px;
            height: auto;
            position: relative;
            img {
               position: absolute;
               left: 0;
               top: 0;
               right: 0;
               bottom: 0;
               height: 100%;
               width: 100%;
            }
         }
      }
   }
   .breadcrumbs {
      li {
         font-size: 9px;
         line-height: 11px;
         img {
            width: 9px;
            height: auto;
            margin-left: 3px;
         }
         &:last-child {
            img {
               margin-left: 0;
            }
         }
      }
   }
   .slider-next,
   .slider-prev {
      width: auto;
      svg {
         width: 24px;
      }
   }
   .project {
      background: url('../images/dist/project-bg-mob.svg') right top 191px no-repeat;
      padding-bottom: 50px;
      padding-top: 100px;
      &__slider {
         overflow: visible;
      }
      .slider-nav {
         display: flex;
         justify-content: center;
         margin-top: 20px;
      }
      &__btn {
         display: none;
      }
      
      &__images {
         
         li {
            box-shadow: 0px 18px 20px rgba(54, 48, 116, 0.1);
            max-width: 100%;
            outline: transparent;
            border: none;
            margin: 0;
            padding: 0 15px;
            &:nth-child(2),
            &:nth-child(3) {
               margin: 0;
            }
            img {
               max-height: 400px;
               width: 100%;
               display: flex;
            }
            opacity: 0;
            &.swiper-slide-visible {
               opacity: 1;
            }
         }
      }
      &__content {
         margin-top: 37px;
      }
      &__list {
         font-size: 11px;
         line-height: 117%;
         margin-bottom: 18px;
      }
      .circle {
         width: 26px;
         height: 26px;
      }
      &__info-icon {
         margin-right: 7px;
         padding: 8px;
      }
      &__info-item {
         font-size: 11px;
         line-height: 13px;
         margin-bottom: 7px;
         margin-left: 0;
         &:last-child {
            margin-bottom: 0;
         }
      }
      &__info {
         align-items: flex-start;
         flex-direction: column;
         margin-bottom: 22px;
      }
      &__title {
         margin-bottom: 6px;
         font-size: 20px;
         line-height: 24px;
      }
      &__subtitle {
         margin-bottom: 20px;
         font-size: 12px;
         line-height: 15px;
      }
      &__text {
         font-size: 11px;
         line-height: 14px;
         margin-bottom: 17px;
      }
   }
   .projects-page {
      .projects-page__slider {
         margin-bottom: -40px;
      }
      .projects__item {
         padding: 0 18px;
         padding-left: 0;
      }
   }
   .pagination  {
      li {
         font-size: 11px;
         line-height: 13px;
      }
      .active {
         font-size: 14px;
         line-height: 17px;
      }
   }
   .modal {
      padding: 15px;
      width: 100%;

      &__title {
         font-size: 24px;
      }
      &__content {
         margin: 0;
      }
   }
   .steps {
      background: url('../images/dist/steps-bg-mob-left.svg') left bottom 120px no-repeat;
   }
   .nice-select {
      font-size: 12px;
   }
   .form {
      &__item {
         margin-bottom: 25px;
         &:last-child {
            margin-bottom: 20px;
         }
         input {
            font-size: 12px;
            line-height: 15px;
         }

         svg {
            max-width: 12px;
            max-height: 12px;
         }
      }
      
      &__radio-item {
         font-size: 12px;
         line-height: 15px;
         padding: 3px;
      }
      &__radio-items {
         label {
            margin-left: 5px;
            svg {
               height: auto;
            }
            &:first-child {
               svg {
                  width: 16px;
               }
            }
            &:nth-child(2) {
               svg {
                  width: 14px;
               }
            }
            &:nth-child(3) {
               svg {
                  width: 15px;
               }
            }
         }
      }
   }
   .contacts-info-wrapper {
      background: url('../images/dist/contacts-bg-mob-right.svg') right 30px bottom 50px no-repeat,
      url('../images/dist/contacts-bg-mob-right-top.svg') right top 125px no-repeat;
      .circle {
         width: 36px;
         height: 36px;
         img {
            max-height: 16px;
            max-width: 15px;
         }
      }
   }
   .contacts {
      padding-top: 70px;

      .current {
         color: $black;
      }

      &__right {
         margin-left: 0;
      }
      
      &__text {
         font-size: 12px;
         line-height: 135%;
         margin: 0;
      }

      .circle {
         width: 36px;
         height: 36px;
         img {
            max-height: 16px;
            max-width: 15px;
         }
      }
      
      &__content {
         margin-bottom: 25px;
      }
      &__info {
         padding-bottom: 40px;
         margin-bottom: 0;
      }
      &__wrapper {
         flex-direction: column;

         p {
            margin-bottom: 20px;
         }
      }
      &__title {
         margin-bottom: 20px;
         font-size: 20px;
         line-height: 140%;
      }
      &__content-head {
         span {
            font-size: 14px;
            line-height: 17px;
         }
      }
   }
   .form {
      max-width: 100%;
      &__item {
         input {
            &::placeholder {
               color: $black;
               opacity: 1;
            }
         }
      }
      &__radio {
         margin-left: 0;
      }
      &__inner {
         padding: 30px 13px;
      }
      &__head {
         padding: 20px 13px;
         font-size: 12px;
         line-height: 134.4%;
      }
      .e-word span:nth-child(2) {
         height: 2px;
      }
   }
   .about {
      background: url('../images/dist/about-bg-mob-bottom.svg') bottom right 30px no-repeat,
                  url('../images/dist/about-bg-mob-top.svg') top 90px right no-repeat;
      &__title {
         margin-bottom: 20px;
         font-size: 25px;
         line-height: 30px;
      }
      &__text {
         margin-right: 0;
         margin-bottom: 15px;
         overflow: auto;
         max-height: 52vh;
      }
      &__boxes {
         display: none;
      }
   }
   .header__menu-btn {
      position: fixed;
      top: 14px;
      right: 11px;
      z-index: 22;
      background: #F9F9F9;
      border: 1px solid #FFFFFF;
      box-shadow: 10px 0px 20px rgba(54, 48, 116, 0.15);
   }
   .menu {
      position: fixed;
   }
   
   .services__title {
      font-size: 25px;
      line-height: 30px;
   }
   .n-word {
      &::before {
         left: -6px;
         width: 26px;
         height: 3px;
      }
   }
   .btn {
      font-size: 13px;
      padding: 14px 20px;
      min-width: 190px;
   }
   .e-word {
      span {
         width: 20px;
         height: 3px;
         margin-bottom: 5px;

         &:nth-child(2) {
            width: 14px;
            height: 3px;
         }
      }
   }
   body {
      font-size: 12px;
      line-height: 118.5%;
   }
   .header {
      &__logo img {
         width: 100px;
      }
      &__languages {
         position: absolute;
         left: 32px;
         bottom: 10px;
      }
   }
   .footer {
      &__item-content {
         margin-left: auto;
         margin-right: auto;
      }
   }
   .projects-page {
      .projects {
         background: url('../images/dist/portfolio-bg-mob-right.svg') right bottom 73px no-repeat,
         url('../images/dist/portfolio-bg-mob-left.svg') left top 123px no-repeat;
      }
   }
   .menu {
      left: 15px;
      max-width: 100%;
      height: 85vh;
      &__head {
         justify-content: flex-end;
      }
      &__navigation {
         font-size: 14px;
         line-height: 17px;
         li {
            margin-bottom: 14px;
         }
      }
      &__foot {
         display: none;
      }
   }
   .footer__panel {
      display: flex;
      z-index: 23;
   }
   .circle {
      width: 31px;
      height: 31px;
   }
   .hero {
      background: url('../images/dist/hero-bg-mob-top.svg') top 100px left no-repeat,
      url('../images/dist/hero-bg-mob-bottom.svg') bottom 80px right no-repeat;
      &__title {
         margin-bottom: 23px;
      }
      &__text {
         margin-bottom: 23px;
      }
      &__socials {
         display: none;
      }
   }
   .services {
      background: url('../images/dist/services-bg-mob.svg') top 80px right no-repeat;
   }
   .container {
      padding: 0 15px;
   }
   .section__link {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
   }
   .e-word {
      margin: 0 -5px;
   }
   .projects {
      background: url('../images/dist/projects-bg-tablet.svg') left top 140px / 89px 14px no-repeat;
      &__list {
         margin-left: 9px;
      }
      
      &__slider {
         padding-top: 44px;
         margin-top: -60px;
      }
      &__title {
         font-size: 20px;
         line-height: 24px;
         margin-left: 0;
      }
      &__item {
         padding: 0 9px;
         margin-bottom: 42px;
      }
      &__type {
         font-size: 11px;
         line-height: 14px;
      }
      &__name {
         font-size: 14px;
         line-height: 130.4%;
      }
      &__slider {
         margin-right: -15px;
         margin-left: -15px;
      }
   }
   .steps {
      &__num {
         font-size: 50px;
         line-height: 61px;
      }
      .swiper-pagination {
         display: flex;
         bottom: 52px;
      }
      .circle {
         width: 42px;
         height: 42px;
      }
      &__text {
         font-size: 12px;
         line-height: 15px;
      }
      &__item-inner {
         padding-bottom: 20px;
      }
      &__name {
         font-size: 13px;
         line-height: 16px;
      }
      &__slider {
         margin-right: -15px;
         margin-left: -15px;
      }
      &__title {
         font-size: 20px;
         line-height: 24px;
      }
   }
   .section__link img {
      margin-top: 0;
   }
   .articles {
      background: url('../images/dist/articles-bg-mob.svg') top 110px left no-repeat;
      &__title {
         font-size: 20px;
         line-height: 105.9%;
      }
      &__link {
         margin-bottom: 22px;
      }
      &__title {
         margin-bottom: 25px;
      }
      &__item {
         opacity: 1;
      }
      .slider-nav {
         justify-content: center;
         margin-top: 20px;
         top: auto;
      }
      &__text {
         font-size: 12px;
         line-height: 129.5%;
      }
      .circle {
         width: 26px;
         height: 26px;
      }
      &__foot-item {
         font-size: 11px;
         line-height: 13px;
      }
      &__slider {
         padding-bottom: 20px;
         margin-right: -15px;
      }
      &__item-inner {
         min-height: 145px;
         padding: 18px 12px;
      }
   }
}

@media (max-height: 1000px) {
   .article {
      background-position: bottom 6px left;
      &__container {
         padding-bottom: 40px;
      }
   }
}

@media (max-height: 830px) {
  
}
@media (max-height: 860px) and (min-width: 1025px) {
   .project {
      background: url(../images/dist/projects-bg-left.svg) left 12px top no-repeat,url(../images/dist/project-bg-right.svg) right top 114px no-repeat,url(../images/dist/project-bg-bottom.svg) right 41% bottom -20px no-repeat;
   }
   .blog-page .articles {
      background: url(../images/dist/articles-bg-left.svg) left top 155px no-repeat,url(../images/dist/articles-bg-right-top.svg) right top 81px no-repeat,url(../images/dist/articles-bg-right-bottom.svg) right bottom 40px no-repeat;
   }
   .articles {
      background: url(../images/dist/articles-bg-left.svg) left top 190px no-repeat,url(../images/dist/articles-bg-right-top.svg) right top 47px no-repeat,url(../images/dist/articles-bg-right-bottom.svg) right bottom 40px no-repeat;
   }
   // .steps {
   //     background: url('../images/dist/steps-bg-right-top.svg') top 30px right no-repeat,
   //              url('../images/dist/steps-bg-left-top.svg') top left no-repeat,
   //              url('../images/dist/steps-bg-left.svg') left top 195px no-repeat;
   // }
}

@media (max-height: 600px) {
   section {
      align-items: flex-start;
      padding-top: 23px;
   }
   .title {
      padding-right: 46px;
   }
   .hero {
      padding-top: 130px;
      &__title {
         padding-right: 0;
      }
   }
   
}