@media (min-width: 1025px) {
   // Hover section
   .menu__navigation a:hover {
      font-weight: bold;
   }
   .option:not(.disabled):hover {
      font-weight: 600;
      background-color: transparent;
      color: inherit !important;
   }
   .pagination {
      li:hover {
         color: #6D37F2;
      }
   }
   .form {
      &__radio label {
         &:hover .form__radio-item {
            background: #F9F9F9;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 15px 40px rgba(54, 48, 116, 0.2);
            color: #6D37F2;

            svg path {
               fill: #6D37F2;
            }
         }
      }
   }
   .projects {
      &__img:hover {
         
         &::after {
            opacity: 0.7;
         }

         span {
            opacity: 1;
         }
      }
   }
   .arrow-prev,
   .arrow-next {
      &:hover {
         svg {
            path {
               fill: url('#paint1_linear');
               opacity: 1;
            }
         }
      }
   }
   // Hover section
}

@media (max-width: 1200px) {
   .contacts {
      &__form {
         margin-left: 20px;
         max-width: 400px;
      }
   }
   .steps {
      background: url('../images/dist/steps-bg-right-top.svg') top 30px right no-repeat,
                  url('../images/dist/steps-bg-left-top.svg') top left no-repeat;
      &__list {
         margin-right: auto;
      }
   }
}


@media (max-width: 1024px) {
   .projects-page {
      .projects {
         background: url('../images/dist/portfolio-bg-tablet-right.svg') right bottom 73px no-repeat,
         url('../images/dist/portfolio-bg-tablet-left.svg') left top 203px no-repeat;
      }
   }
   .contacts {
      display: none;
      padding-top: 25px;

      &__content {
         flex-direction: column;
         margin-bottom: 0;
      }
      &__text {
         line-height: 164%;
      }
      &__content-item {
         margin-left: 0;
         margin-bottom: 32px;
         &:last-child {
            margin-bottom: 0;
         }
      }
      &__right {
         max-width: 400px;
         margin-left: 20px;
      }
      &__title {
         margin-bottom: 100px;
      }
      &__info {
         margin-top: auto;
         display: flex;
         flex-direction: column;
         margin-bottom: 60px;
      }
      &__form {
         max-width: 470px;
         margin-left: 0;
      }
      &__inner {
         flex-direction: column;
         align-items: flex-start;
      }
   }
   .contacts-form-wrapper, .contacts-info-wrapper {
      display: flex;
      .container {
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
   .contacts-info-wrapper {
      background: url('../images/dist/contacts-bg-tablet.svg') right top 125px no-repeat;
   }
   .articles {
      background: url('../images/dist/articles-bg-tablet-top-right.svg') top 30px right no-repeat,
                  url('../images/dist/articles-bg-tablet-top-left.svg') top 100px left no-repeat,
                  url('../images/dist/articles-bg-tablet-bottom-right.svg') bottom 76px right no-repeat;
      &__slider {
         margin-right: -50px;
      }
      &__item-wrapper {
         margin: 40px 5px;
      }
   }
   .projects {
      background: url('../images/dist/projects-bg-tablet.svg') left top 105px no-repeat;
      &__link {
         margin-bottom: 35px;
      }
      &__slider {
         margin-right: -50px;
      }
      &__list {
         margin: 0;
      }
      &__img {
         box-shadow: 0px 18px 60px rgba(54, 48, 116, 0.2);
      }
      &__item {
         width: 100%;
         margin: 0;
         padding: 0 18px;
      }
   }
   .about {
      background: url('../images/dist/about-bg-tablet.svg') top 22px right no-repeat;
      &__text {
         font-size: 14px;
         line-height: 132.5%;
         margin-bottom: 30px;
         margin-right: 50px;
      }
      &__inner {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__boxes {
         flex-direction: column;
         justify-content: flex-start;
         flex-shrink: 0;
      }
      &__box {
         margin-left: 0;
         margin-bottom: 8px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   .services {
      background: url('../images/dist/services-bg-tablet-top.svg') top 35px right no-repeat,
                  url('../images/dist/services-bg-tablet-bottom.svg') bottom 43px left no-repeat;
      &__slider {
         padding-top: 70px;
      }
      &__item {
         height: 420px;
      }
      
      &__item-wrapper {
         margin: 0;
      }
      
      &__item-inner {
         padding: 20px 12px;
      }
      &__content {
         margin-left: 10px;
         p {
            font-size: 12px;
            line-height: 15px;
         }
      }
      &__price {
         font-size: 14px;
         line-height: 17px;
         padding: 20px;
         margin-left: 6px;
         padding-top: 0;
      }
      &__name {
         font-size: 14px;
         line-height: 111.4%;
      }
   }
   .header {
      padding-top: 27px;
   }
   .menu {
      padding: 25px 32px;
   }
   .steps {
      background: url('../images/dist/steps-bg-tablet-right.svg') right top 73px no-repeat,
                  url('../images/dist/steps-bg-tablet-left.svg') left bottom 80px no-repeat;
      &__slider {
         height: 350px;
         margin-right: -50px;
      }
      
      &__list {
         max-width: 100%;
         margin: 0;
         flex-wrap: nowrap;
      }
      .steps__item {
         width: 100%;
         margin: 12px;
      }
   }
}

@media (max-width: 768px) {
   .services__item {
      height: 390px;
   }
   .header {
      &__right  {
         a,
         .header__languages {
            display: none;
         }
      }
   }
}

@media (max-width: 700px) {
   
   .services__item-inner {
      padding: 15px 12px;
   }
   .services .slider-nav {
      margin-top: 15px;
   }
   .services__name {
      font-size: 13px;
      line-height: 98.9%;
   }
   .services__price {
      font-size: 12px;
      line-height: 15px;
      margin-left: 0;
      padding: 0;
      padding-left: 20px;
      padding-bottom: 9px;
   }
   .services__slider {
      padding-bottom: 0;
      padding-top: 23px;
   }
   .services__head {
      padding-left: 10px;
   }
   .services__item {
      opacity: 1;
      box-shadow: 0px 0px 15px rgba(54, 48, 116, 0.15);
      &.swiper-slide-active .services__item-wrapper {
         transform: scale(1);
      }
   }
   .services__btn {
      box-shadow: none;
      font-size: 12px;
      line-height: 15px;
   }
   .services {
      &__slider {
         padding-left: 15px;
      }
      .container {
         padding-right: 0;
      }
   }
   .hero {
      background: url('../images/dist/hero-bg-tablet.svg') bottom right no-repeat,
                  url('../images/dist/hero-bg-tablet-top-right.svg') top right no-repeat,
                  url('../images/dist/hero-bg-tablet-bottom-right.svg') bottom 55px right no-repeat;
      
   }
}

@media (max-width: 600px) {
   .projects-page {
      .projects-page__slider {
         margin-bottom: -40px;
      }
      .projects__item {
         padding: 0 18px;
         padding-left: 0;
      }
   }
   .pagination  {
      li {
         font-size: 11px;
         line-height: 13px;
      }
      .active {
         font-size: 14px;
         line-height: 17px;
      }
   }
   .modal {
      padding: 15px;
      width: 100%;

      &__title {
         font-size: 24px;
      }
      &__content {
         margin: 0;
      }
   }
   .steps {
      background: url('../images/dist/steps-bg-mob-left.svg') left bottom 130px no-repeat;
   }
   .form {
      &__radio-item {
         font-size: 12px;
         line-height: 15px;
         padding: 3px;
      }
      &__radio-items {
         label {
            margin-left: 5px;
            svg {
               height: auto;
            }
            &:first-child {
               svg {
                  width: 16px;
               }
            }
            &:nth-child(2) {
               svg {
                  width: 14px;
               }
            }
            &:nth-child(3) {
               svg {
                  width: 15px;
               }
            }
         }
      }
   }
   .contacts-info-wrapper {
      background: url('../images/dist/contacts-bg-mob-right.svg') right 30px bottom no-repeat,
      url('../images/dist/contacts-bg-mob-right-top.svg') right top 115px no-repeat,
   }
   .contacts {
      padding-top: 70px;

      .current {
         color: $black;
      }

      &__right {
         margin-left: 0;
      }
      
      &__text {
         font-size: 12px;
         line-height: 135%;
         margin: 0;
      }
      
      &__content {
         margin-bottom: 25px;
      }
      &__info {
         padding-bottom: 40px;
         margin-bottom: 0;
      }
      &__wrapper {
         flex-direction: column;

         p {
            margin-bottom: 20px;
         }
      }
      &__title {
         margin-bottom: 35px;
      }
      &__content-head {
         span {
            font-size: 14px;
            line-height: 17px;
         }
      }
   }
   .form {
      max-width: 100%;
      &__item {
         input {
            &::placeholder {
               color: $black;
               opacity: 1;
            }
         }
      }
      &__radio {
         margin-left: 0;
      }
      &__inner {
         padding: 30px 13px;
      }
      &__head {
         padding: 20px 13px;
         font-size: 12px;
         line-height: 134.4%;
      }
      .e-word span:nth-child(2) {
         height: 2px;
      }
   }
   .about {
      background: url('../images/dist/about-bg-mob-bottom.svg') bottom right 30px no-repeat,
                  url('../images/dist/about-bg-mob-top.svg') top 90px right no-repeat;
      &__title {
         margin-bottom: 20px;
      }
      &__text {
         margin-right: 0;
         margin-bottom: 15px;
      }
      &__boxes {
         display: none;
      }
   }
   .header__menu-btn {
      position: fixed;
      top: 14px;
      right: 11px;
      z-index: 20;
      background: #F9F9F9;
      border: 1px solid #FFFFFF;
      box-shadow: 10px 0px 20px rgba(54, 48, 116, 0.15);
   }
   .menu {
      position: fixed;
   }
   .title {
      font-size: 27px;
      line-height: 33px;
   }
   .services__title {
      font-size: 25px;
      line-height: 30px;
   }
   .n-word {
      &::before {
         left: -6px;
         width: 26px;
         height: 3px;
      }
   }
   .btn {
      font-size: 13px;
      padding: 14px 20px;
      min-width: 190px;
   }
   .e-word {
      span {
         width: 20px;
         height: 3px;
         margin-bottom: 5px;

         &:nth-child(2) {
            width: 14px;
            height: 3px;
         }
      }
   }
   body {
      font-size: 12px;
      line-height: 118.5%;
   }
   .header {
      &__languages {
         position: absolute;
         left: 32px;
         bottom: 25px;
      }
   }
   .menu {
      left: 15px;
      max-width: 100%;
      &__head {
         justify-content: flex-end;
      }
      &__foot {
         display: none;
      }
   }
   .footer__panel {
      display: flex;
   }
   .circle {
      width: 31px;
      height: 31px;
   }
   .hero {
      background: url('../images/dist/hero-bg-mob-top.svg') top 100px left no-repeat,
      url('../images/dist/hero-bg-mob-bottom.svg') bottom 81px right no-repeat;
      &__title {
         margin-bottom: 23px;
      }
      &__text {
         margin-bottom: 23px;
      }
      &__socials {
         display: none;
      }
   }
   .container {
      padding: 0 15px;
   }
   .section__link {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
   }
   .e-word {
      margin: 0 -5px;
   }
   .projects {
      &__list {
         margin-left: 9px;
      }
      
      &__slider {
         padding-top: 60px;
         margin-top: -60px;
      }
      &__title {
         font-size: 20px;
         line-height: 24px;
      }
      &__item {
         padding: 0 9px;
         margin-bottom: 42px;
      }
      &__type {
         font-size: 11px;
         line-height: 14px;
      }
      &__name {
         font-size: 14px;
         line-height: 130.4%;
      }
      &__slider {
         margin-right: -15px;
         margin-left: -15px;
      }
   }
   .steps {
      &__num {
         font-size: 50px;
         line-height: 61px;
      }
      .swiper-pagination {
         display: flex;
      }
      .circle {
         width: 42px;
         height: 42px;
      }
      &__text {
         font-size: 12px;
         line-height: 15px;
      }
      &__item-inner {
         padding-bottom: 20px;
      }
      &__name {
         font-size: 13px;
         line-height: 16px;
      }
      &__slider {
         margin-right: -15px;
         margin-left: -15px;
      }
      &__title {
         font-size: 20px;
         line-height: 24px;
      }
   }
   
   .articles {
      background: url('../images/dist/articles-bg-mob.svg') top 110px left no-repeat;
      &__title {
         font-size: 20px;
         line-height: 105.9%;
      }
      &__item-wrapper {
         margin: 40px 9px;
      }
      &__link {
         margin-bottom: -20px;
      }
      &__title {
         margin-bottom: 25px;
      }
      .slider-nav {
         justify-content: center;
         margin-top: -20px;
      }
      &__text {
         font-size: 12px;
         line-height: 129.5%;
      }
      .circle {
         width: 26px;
         height: 26px;
      }
      &__foot-item {
         font-size: 11px;
         line-height: 13px;
      }
      &__slider {
         padding-bottom: 20px;
         margin-right: -15px;
      }
      &__item-inner {
         min-height: 145px;
         padding: 18px 12px;
      }
   }
}