@media (min-width: 1025px) {
   // Hover section
   .option:not(.disabled):hover {
      font-weight: 600;
      background-color: transparent;
      color: inherit !important;
   }
   
   .form {
      &__radio label {
         &:hover .form__radio-item {
            background: #F9F9F9;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 15px 40px rgba(54, 48, 116, 0.2);
            color: #6D37F2;

            svg path {
               fill: #6D37F2;
            }
         }
      }
   }
   .projects {
      &__img:hover {
         
         &::after {
            opacity: 0.7;
         }

         span {
            opacity: 1;
         }
      }
   }
   .slider-prev,
   .slider-next {
      &:hover {
         svg {
            path {
               fill: url('#paint1_linear');
               opacity: 1;
            }
         }
      }
   }
   // Hover section
}

@media (max-width: 1200px) {
}


@media (max-width: 1024px) {
}
